<%- include('../partials/admin/adminHead.ejs') %>
  <%- include('../partials/admin/adminHeader.ejs') %>

    <body id="reportsPage">
      <div class="" id="home">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="text-white mt-5 mb-5">Welcome back, <b>Ramdev</b></p>
            </div>
          </div>
          <!-- row -->
          <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <h2 class="tm-block-title">Payment Modes</h2>
              <div class="tm-bg-primary-dark tm-block">
                <canvas id="myChart"></canvas>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <h2 class="tm-block-title">Category Sales</h2>
              <div class="tm-bg-primary-dark tm-block">
                <canvas id="pieChart"></canvas>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
              <h2 class="tm-block-title">Monthly Sales</h2>
              <div class="tm-bg-primary-dark tm-block">
                <canvas id="chartjs-dashboard-bar"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <%- include('../partials/admin/adminScript.ejs') %>


      <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
      <!-- <script>
        $(document).ready(function () {
          $('#myTable').DataTable();
        });
      </script> -->

      <script>
        var datas = `<%- JSON.stringify(orderBasedOnMonths) %>`;
        var parseData = JSON.parse(datas)
        console.log(parseData, '.iahve asfdsd')
        document.addEventListener("DOMContentLoaded", function () {
          // Bar chart

          new Chart(document.getElementById("chartjs-dashboard-bar"), {

            type: "bar",
            data: {
              labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                label: "This year",
                backgroundColor: 'White',
                borderColor: 'White',
                hoverBackgroundColor: 'White',
                hoverBorderColor: 'White',
                data: (() => {
                  const orderCounts = Array.from({ length: 12 }, () => 0);
                  parseData.forEach((month) => {
                    orderCounts[month.month - 1] = month.orderCount;
                  });
                  return orderCounts;
                })(),
                barPercentage: .75,
                categoryPercentage: .5,
              }]
            },
            options: {
              maintainAspectRatio: false,
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    display: false,
                    color: 'White',
                    lineWidth: 2
                  },
                  stacked: false,
                  ticks: {
                    fontColor: "White"
                  }
                }],
                xAxes: [{
                  stacked: false,
                  gridLines: {
                    display: false,
                    color: "White",
                    lineWidth: 2
                  },
                  ticks: {
                    fontColor: "White"
                  }
                }]
              }
            }
          });
        });
      </script>



      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        var percentagePayment = `<%- JSON.stringify(paymentPercentages) %>`;
        var percentagePaymentData = JSON.parse(percentagePayment);

        var method1 = Object.keys(percentagePaymentData)[0];
        var method1Data = parseFloat(percentagePaymentData[method1]);
        var method2 = Object.keys(percentagePaymentData)[1];
        var method2Data = parseFloat(percentagePaymentData[method2]);
        var method3 = Object.keys(percentagePaymentData)[2];
        var method3Data = parseFloat(percentagePaymentData[method3]);

        const ctx = document.getElementById('myChart');
        const data = {
          labels: [
            method1,
            method2,
            method3
          ],
          datasets: [{
            label: 'Payment Method',
            data: [method1Data, method2Data, method3Data],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
          }]
        };

        new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            plugins: {
              legend: {
                labels: {
                  color: "White"
                }
              }
            }
          }
        });
      </script>

      <script>
        var categorylist = `<%- JSON.stringify(categoryCounts) %>`;
        var categorylistData = JSON.parse(categorylist);

        let labels = [];
        let dataz = [];

        let index = 1;
        for (const key in categorylistData) {
          const category = key;
          const categoryData = categorylistData[key];
          const variableName = `category${index}`;
          const variableDataName = `${variableName}Data`;
          console.log(`${variableName}=${category}`);
          console.log(`${variableDataName}=${categoryData}`);

          labels.push(category);
          dataz.push(categoryData);

          index++;
        }
        const xzx = document.getElementById('pieChart');
        const data2 = {
          labels: labels,
          datasets: [
            {
              label: 'My First Dataset',
              data: dataz,
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                // Add more colors if needed
              ],
              hoverOffset: 4
            }
          ]
        };
        new Chart(xzx, {
          type: 'pie',
          data: data2,
          options: {
            plugins: {
              legend: {
                labels: {
                  color: 'white'
                }
              }
            }
          }
        });
      </script>

      <!-- <script src="../../assets/js/chart.js"></script> -->

      </body>

      </html>