<%- include('../partials/admin/adminHead.ejs') %>
<%- include('../partials/admin/adminHeader.ejs') %>
  <body>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/edit-product/<%= editProduct._id %>" method="post" class="tm-edit-product-form"
                  enctype="multipart/form-data">
                  <div class="form-group mb-3">
                    <label for="productName">Product Name
                    </label>
                    <input id="name" name="productName" type="text" value="<%= editProduct.productName %>"
                      class="form-control validate" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description
                    </label>
                    <input class="form-control validate tm-small" rows="5"
                      value="<%= editProduct.description %>"></input>
                  </div>
                  <div class="form-group mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select tm-select-accounts" id="category" name="category">
                        <option value="<%= category._id %>">
                         <%= category.category %>
                        </option>
                      <% categories.forEach(element=> { %>
                        <% if (!element.delete) { %>
                          <% if (category.category != element.category) { %>
                            <option value="<%= element._id %>">
                              <%= element.category %>
                            </option>
                          <% } %>
                          <% } %>
                            <% }) %>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="company">Company
                      </label>
                      <input id="company" name="company" type="text" value="<%= editProduct.company %>"
                        class="form-control validate" data-large-mode="true" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="stock">Units In Stock
                      </label>
                      <input id="stock" name="stock" type="text" value="<%= editProduct.stock %>"
                        class="form-control validate" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="type">Type
                      </label>
                      <input id="type" name="type" type="text" value="<%= editProduct.type %>"
                        class="form-control validate" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="price">Price
                      </label>
                      <input id="price" name="price" type="text" value="<%= editProduct.price %>"
                        class="form-control validate" />
                    </div>
                  </div>

              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-edit mx-auto">

                  <img id="image" src="/admin/uploads/<%= editProduct.image[0,1,2] %>" alt="Product image"
                    class="img-fluid d-block mx-auto">

                  <i style="width: 100px; height: auto" class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('image').click();"></i>
                </div>
                  <div class="custom-file mt-3 mb-3">
                    <input multiple id="image" type="file" style="display:none;" name="image" accept="image/*"
                      onchange="previewFile()" />
                    <input multiple type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                      onclick="document.getElementById('image').click();" />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="myElement" data-server-variable="<%= category.category %>"></div> -->
    <%- include('../partials/admin/adminScript.ejs') %>
  </body>

 

<script>
  var serverVariable = document.getElementById('myElement').dataset.serverVariable;
 console.log(serverVariable,"hihi");
</script>