<nav class="navbar navbar-expand-xl">
  <div class="container h-100">
    <a class="navbar-brand" href="/admin/home">
      <h1 class="tm-site-title mb-0">Product Admin</h1>
    </a>
    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars tm-nav-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto h-100">
        <li class="nav-item">
          <a class="nav-link" href="/admin/home">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/admin/orders" id="" role="button">
            <i class="far fa-file-alt"></i>
            <span>
              Orders
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">
            <i class="fas fa-shopping-cart"></i>
            Products
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/admin/users">
            <i class="far fa-user"></i>
            Users
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
            <span>
              Settings <i class="fas fa-angle-down"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Billing</a>
            <a class="dropdown-item" href="#">Customize</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link d-block" href="/admin/logout">
            Admin, <b>Logout</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />


<div class="container-fluid">
  <style>
    .modal-footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-footer p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .btn-danger {
      background-color: #dc3545;
      border-color: #dc3545;
    }

    .btn-danger:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }

    /* Custom alert box styles */
    /* Custom alert box styles */
    .custom-alert {
      padding: 4px;
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
      border-radius: 4px;
      margin-bottom: 16px;
      font-size: 12px;
    }

    .custom-alert.success {
      background-color: #d4edda;
      color: #155724;
      border-color: #c3e6cb;
    }

    .custom-alert.danger {
      background-color: #f8d7da;
      color: #721c24;
      border-color: #f5c6cb;
    }
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.5/dist/sweetalert2.min.css">


  <br><br>
  <section>
    <!-- <div class="container">
        <div class="row" style="float: right">
            <a href="#" class="btn btn-success m-3" style="width: fit-content">Export</a>
        </div> -->

    <table class="table table-striped mt-5" id="tableid">
      <thead style="background-color: rgb(65, 87, 108);">
        <tr>
          <th scope="col">No</th>

          <th scope="col">Name</th>

          <th scope="col">Email</th>

          <th scope="col">Phone</th>

          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% userList.forEach((item,index)=> { %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.email %>
            </td>
            <td>
              <%= item.mobile %>
            </td>
            <td>

              <% if (item.isActive) { %>
                <a class="btn btn-outline-danger" href="/admin/block/<%= item._id %>"
                  onclick="showAlert('block')">Block</a>
                <% } else { %>
                  <a class="btn btn-outline-success" href="/admin/unBlock/<%= item._id %>"
                    onclick="showAlert('unblock')">Unblock</a>
                  <% } %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.5/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  $(document).ready(function () {
    $("#tableid").DataTable();
  });

  function showAlert(action) {
    if (action === 'block') {
      Swal.fire({
        title: 'Success',
        text: 'User blocked successfully!',
        icon: 'success',
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 20000, // Adjust the timer value as needed
        showClass: {
          popup: '', // Empty string to remove show animation or transition
          backdrop: '' // Empty string to remove show animation or transition for the backdrop
        },
        hideClass: {
          popup: '', // Empty string to remove hide animation or transition
          backdrop: '' // Empty string to remove hide animation or transition for the backdrop
        }
      });
    } else if (action === 'unblock') {
      Swal.fire({
        title: 'Success',
        text: 'User unblocked successfully!',
        icon: 'success',
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 20000, // Adjust the timer value as needed
        showClass: {
          popup: '', // Empty string to remove show animation or transition
          backdrop: '' // Empty string to remove show animation or transition for the backdrop
        },
        hideClass: {
          popup: '', // Empty string to remove hide animation or transition
          backdrop: '' // Empty string to remove hide animation or transition for the backdrop
        }
      });
    }
  }





</script>