<%- include('../partials/admin/adminHead.ejs') %>
  <style>
    .edit-button-style {
      background-color: #394e64;
      color: white;
      margin-right: 15px;
      border-radius: 20%;
      border: none;
      height: 40px;
      width: 40px;
      cursor: pointer;
      border-radius: 50%;
    }
  </style>
  <%- include('../partials/admin/adminHeader.ejs') %>

    <body id="reportsPage">
      <% if (msg) { %>
        <div id="notification" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%= msg %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
          <div class="container mt-5">
            <div class="row tm-content-row">
              <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-products">
                  <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table" id="tableid">
                      <thead>
                        <tr>
                          <th scope="col">IMAGE</th>
                          <th scope="col">PRODUCT NAME</th>
                          <th scope="col">COMPANY</th>
                          <th scope="col">PRICE</th>
                          <th scope="col">CATEGORY</th>
                          <th scope="col">DELETED</th>
                          <th scope="col">OPTIONS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% products.forEach((item)=> { %>
                          <tr>
                            <td><img style="width: 50px; height: 50px" src="/admin/uploads/<%= item.image[0] %>"
                                alt="" />
                            </td>
                            <td class="tm-product-name">
                              <%= item.productName %>
                            </td>
                            <td>
                              <%= item.company %>
                            </td>
                            <td>
                              <%= item.price %>
                            </td>
                            <td>
                              <% const category=categories.find((cat)=> cat.id.toString() === item.category.toString());
                                if (category) {
                                %>
                                <%= category.category %>
                                  <% } else { %>
                                    404
                                    <% } %>
                            </td>
                            <td>
                              <%= item.deleted ? 'Yes' : 'No' %>
                            </td>
                            <td class="text-center">
                              <div style="display: flex;">
                                <a href="/admin/edit-product/<%= item._id %>">
                                  <button class="edit-button-style fas fa-edit tm-product-edit-icon"></button></a>
                                <form action="/admin/deleteProduct/<%#=item._id%>?_method=DELETE" method="POST"
                                  style="display: inline-block">
                                  <a href="#" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"
                                      onclick="confirmDelete('<%=item.productname%>', '<%=item._id%>')"></i></a>
                                </form>
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <a href="add-product" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                  <h2 class="tm-block-title">Product Categories</h2>
                  <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                      <tbody>
                        <% categories.forEach((item)=> {
                          if (!item.delete) { // Exclude categories with deleted field set to true
                          %>
                          <tr>
                            <td class="tm-product-name">
                              <%= item.category %>
                            </td>
                            <td class="text-center">
                              <a href="/admin/edit-category/<%= item._id %>">
                                <button class="edit-button-style fas fa-edit tm-product-edit-icon"></button>
                              </a>
                            </td>
                            <td class="text-center">

                              <a href="#" class="tm-product-delete-link">
                                <i class="far fa-trash-alt tm-product-delete-icon"
                                  onclick="categoryDelete('<%= item.category %>', '<%= item._id %>')"></i>
                              </a>

                            </td>
                          </tr>
                          <% } }) %>
                      </tbody>
                    </table>
                  </div>
                  <a href="add-category">
                    <button class="btn btn-primary btn-block text-uppercase mb-3">
                      Add new category
                    </button></a>
                </div>
              </div>
            </div>
          </div>
    </body>
    <%- include('../partials/admin/adminScript.ejs') %>
      <script>
        setTimeout(function () {
          document.getElementById('notification').style.display = 'none'
        }, 3000)
        document.getElementById("myForm").addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission
        });
        function confirmDelete(productName, productId) {
          // Create modal markup
          let confirmDeleteModal = `
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to soft delete <strong>${productName}</strong>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="/admin/deleteProduct/${productId}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Yes, Soft Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>`;
          // Append modal markup to the body
          $('body').append(confirmDeleteModal);

          // Show the modal
          $('#confirmDeleteModal').modal('show');
        }

        function categoryDelete(category, catId) {
          // Create modal markup
          let categoryDeleteModal = `
      <div class="modal fade" id="categoryDeleteModal" tabindex="-1" aria-labelledby="categoryDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="categoryDeleteModalLabel">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to soft delete <strong>${category}</strong>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="/admin/deleteCategory/${catId}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Yes, Soft Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>`;
          // Append modal markup to the body
          $('body').append(categoryDeleteModal);

          // Show the modal
          $('#categoryDeleteModal').modal('show');
        }

        $(document).ready(function () {
          $("#tableid").DataTable();
        });
      </script>
      <%#- include('../partials/admin/adminFooter.ejs') %>