<style>
  .container {
    max-width: 1200px;
  }

  .card-header {

    font-weight: bold;
  }

  .card {
    border-radius: 5px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
  }

  .strike-text {
    text-decoration: line-through;
  }

  .spec-1 span {
    margin-right: 10px;
  }

  .dot::before {
    content: "\2022";
    color: #bdbdbd;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
  }

  .bg-dark-subtle {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .bg-opacity-50 {
    opacity: 0.5;
  }

  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
  }

  .form-select {
    font-size: 14px;
  }

  @media (max-width: 576px) {
    .card-body {
      padding: 5px;
    }

    .product-image {
      height: 80px;
    }

    .spec-1 span {
      margin-right: 5px;
    }

    .dot::before {
      margin-right: 3px;
      margin-left: 3px;
      font-size: 12px;
    }
  }

  .nav-link:hover {
    color: white;
    /* background-color: #6c757d; */
    text-decoration: none;
  }

  .border-2 {
    border-radius: 5px;
  }

  .border {
    border: none !important;
  }

</style>
<div class="">
  <div class="hero-wrap hero-bread" class="" style="background-image: url('user/img/banner/banner-bg.jpg');">
      <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div style="height: 200px;" class="col-md-9 ftco-animate text-center">
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container mt-5 mb-5">

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 d-flex justify-content-start mt-2">
      <div class="border rounded p-3">
        <select class="form-select" onchange="location = this.value;">
          <option value="#">Filter</option>
          <option value="/orders">All orders</option>
          <option value="/order-not-shipped">Processing</option>
          <option value="/order-cancelled-list">Cancelled</option>
          <option value="/order-returned-list">Returned</option>
        </select>
      </div>
    </div>
    

    <div class="col-md-10  ">
      <% locals.orders.reverse().forEach(element=> { %>
        <div class="card mt-4 border border-2" style="border: 1px solid black !important">
          <div class="card-header d-flex justify-content-around text-dark">
            <span>Order <%= element.paymentstatus %>
                <%= new Date(element.createdAt).toLocaleString('en-US', { month: 'short' , day: 'numeric' ,
                  year: 'numeric' , hour12: true }) %></span>
            <span> Address : <%= element.deliveryDetails.streetaddress %></span>
            <span> Total: &#8377; <%= element.totalAmount %> </span>
          </div>
          <% element.products.forEach(prd=> { %>

            <div class="card-body border border-2">
              <hr>
              <div class="row bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                    src="/admin/uploads/<%= prd.item.image[0] %>" style="height: 100px; width: 100px"></div>
                <div class="col-md-6 mt-1">
                  <h5><b>
                      <%= prd.item.productName%>
                    </b></h5>
                  <!-- <div class="d-flex flex-row">

                  </div> -->

                  <p class="text-justify text-truncate para mb-0">Quantity : <%= prd.quantity %><br><br></p>
                  <h6><span class="fw-medium">order-status :</span> <span>
                      <%= prd.orderstatus %>
                    </span> <br><br></h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                  <h6 class="text-warning">
                    <%= prd.deliverystatus %>
                  </h6>
                  <div class="d-flex flex-column mt-4">
                    <% if (prd.deliverystatus !=='returned' ) { %>
                      <button class="btn btn-outline-secondary btn-sm" <%=prd.orderstatus==='cancelled' ? 'hidden' : ''
                        %> type="button" onclick="location.href='/invoice/?orderId=<%= element._id %>&productId=<%=
                            prd.item._id %>';">Invoice</button>

                      <% if (prd.deliverystatus==='Delivered' ) { %>
                        <button class="btn btn-outline-danger btn-sm mt-2"
                          onclick="returnOrder('<%= element._id %>','<%= prd.item._id %>')" type="button">Return order
                        </button>
                  
                  <% } else{ %>
                    <button class="btn btn-outline-danger btn-sm mt-2" <%=prd.orderstatus==='cancelled' ? 'hidden' : '' %>
                      onclick="cancelOrder('<%= element._id %>','<%= prd.item._id %>')" type="button" >Cancel order
                    </button>
                
                <% } %>
                  <% } %>
                </div>
                </div>

              </div>
              <hr>
            </div>


            <% }) %>
        </div>
        <% }) %>
    </div>


  </div>
</div>





<%- include('../partials/user/userFooter.ejs') %>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>

    function cancelOrder(orderId, productId) {
      // Display a confirmation SweetAlert message
      swal.fire({
        title: "Confirmation",
        text: "Are you sure you want to proceed?",
        icon: "info",
        buttons: ["Cancel", "Confirm"],
        dangerMode: true,
        closeOnClickOutside: false,
        closeOnEsc: false,
        customClass: {
          container: 'my-swal-container',
          content: 'my-swal-content',
          title: 'my-swal-title',
          cancelButton: 'my-swal-cancel-button',
          confirmButton: 'my-swal-confirm-button'
        }
      })
        .then((willCancel) => {
          if (willCancel) {
            // Redirect to the cancel order page if the user confirms the cancellation
            location.href = `/cancel-order/?orderId=${orderId}&productId=${productId}`;
          }
        });
    }

    function returnOrder(orderId, productId) {
      swal.fire({
        title: "Confirmation",
        text: "Are you sure you want to proceed?",
        icon: "info",
        buttons: ["Cancel", "Confirm"],
        dangerMode: true,
        closeOnClickOutside: false,
        closeOnEsc: false,
        customClass: {
          container: 'my-swal-container',
          content: 'my-swal-content',
          title: 'my-swal-title',
          cancelButton: 'my-swal-cancel-button',
          confirmButton: 'my-swal-confirm-button'
        }
      })
        .then((willCancel) => {
          if (willCancel) {
            // Redirect to the cancel order page if the user confirms the cancellation
            location.href = `/return-order/?orderId=${orderId}&productId=${productId}`;
          }
        });
    }

    // Disable right-click context menu
    document.addEventListener('contextmenu', function (event) {
      event.preventDefault();
    });

  </script>