<body>
	<style>
		.size-active {
			background-color: red;
		}

		.size-btn {
			background-color: transparent;
			border: 1px solid #ccc;
			color: #333;
			cursor: pointer;
			font-size: 16px;
			margin: 0 5px;
			padding: 10px 20px;
			transition: all 0.3s ease;
		}

		.size-btn:hover {
			background-color: #333;
			color: #fff;
		}

		.size__btn {
			display: flex;
			flex-wrap: nowrap;
			/* prevents buttons from wrapping to next line */
			width: 180px;
			/* adjust the width to fit all the buttons */
		}

		.size-btn {
			border-radius: 20px;
			/* make the buttons round */
			background-color: #e5e5e5;
			/* set the background color */
			color: #333;
			/* set the text color */
			font-size: 14px;
			/* adjust the font size if needed */
			padding: 5px 10px;
			/* adjust the padding if needed */
			margin-right: 10px;
			/* add some spacing between buttons */
		}

		.size-btn:hover {
			background-color: #ccc;
			/* change the background color on hover */
			cursor: pointer;
			/* show the pointer cursor on hover */
		}

		.size-btn.size-active {
			background-color: #fff;
			color: #555;
			border-color: #555;
			border-radius: 20px;
			box-shadow: 0px 0px 0px 2px #555;
		}

		.btn-group-toggle div {
			margin-bottom: 5px;
		}
	</style>
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="/admin/uploads/<%= singleProduct.image[0] %>" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="/admin/uploads/<%= singleProduct.image[1] %>" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="/admin/uploads/<%= singleProduct.image[2] %>" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>
							<%= singleProduct.productName %>
						</h3>
						<div class="d-flex flex-inline">
							<% if(discountedPrice !=0) { %>
								<h2>&#8377;<%= Math.floor(singleProduct.price - (singleProduct.price *
										(offer[0].discount/100))) %>
								</h2>
								<h3 class="ml-3" style="color: #d7d6d6;">
									&#8377;<%= singleProduct.price %>
								</h3>
								<h5 class="ml-3 mt-2" style="color: #d7d6d6;">
									<%= offer[0].discount %>% off
								</h5>
								<% } else { %>
									<h2 class="l-through">
										&#8377;<%= singleProduct.price %>
									</h2>
									<% } %>
						</div>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span>
									<%= singleProduct.category.category %>
								</a></li>
							<% if ( singleProduct.stock> 0) { %>
								<li><a href="#"><span>Availibility</span> : In Stock</a></li>
								<% } else { %>
									<li><a style="color: rgb(188, 0, 0);"><span
												style="color: #555555;">Availibility</span> : Out of stock</a></li>
									<% } %>
						</ul>
						<p>
							<%= singleProduct.description %>
						</p>
						<div class="size__btn ">
							<button id="xs-btn" class="size-btn">6</button>
							<button id="s-btn" class="size-btn">7</button>
							<button id="m-btn" class="size-btn">8</button>
							<button id="l-btn" class="size-btn">9</button>
							<button id="xl-btn" class="size-btn">10</button>
							<button id="xxl-btn" class="size-btn">11</button>
						</div>
						<br><br>


						<div class="card_area d-flex align-items-center">
							<input type="text" id="hiddenId" value="<%=singleProduct._id%>" hidden>
							<button id="clicz" data-id="<%= singleProduct._id %>"
								data-proname="<%= singleProduct.productName %>" data-dis="<%= discountedPrice %>"
								data-stock="<%= singleProduct.stock %>" class="primary-btn">Add to Cart
							</button>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>



		$('.size-btn').click(function () {
			$(this).toggleClass('size-active').siblings().removeClass('size-active');
			const size = $(this).text();
			console.log(`Selected size: ${size}`);
		});

		$(document).ready(function () {
			$('.size-btn').click(function () {
				showLoader()
				var size = $(this).text(); // Get the size from the button's text
				let proId = document.getElementById('hiddenId').value;
				console.log(proId, 'hidden')
				console.log(size)
				$.ajax({
					url: `/product-size-selector/${size}/?proId=${proId}`,
					type: 'get',
					success: (response) => {
						if (response) {
							let prev = $('.cart-btn')();
							$('.cart-btn')('<span class="icon_bag_alt"></span> Go to cart');
							$('.cart-btn').attr('onclick', 'window.location.href="/cart"');
							hideLoader()
						} else {
							$('.cart-btn')('<span class="icon_bag_alt"></span> Add to cart');
							$('.cart-btn').attr('onclick', 'addToCart("' + proId + '")');
							hideLoader()
						}
					}

				});
			});
		});


		$('#clicz').click(function (event) {

			const proId = $(event.target).data('id')
			const abc = $(event.target).data('proname')
			const stock = $(event.target).data('stock')
			const dis = $(event.target).data('dis')

			const activeBtn = $('.size-btn.size-active');
			const size = $('.size-btn.size-active').text();

			console.log(proId);
			if (activeBtn.length > 0) {
				// Check if the user is logged in
				$.ajax({
					url: '/checkLogin',
					method: 'GET',
					success: function (response) {
						if (response.loggedIn) {
							if (stock > 0) {
								// User is logged in, add the product to the cart
								$.ajax({
									url: `/addtoCart/${proId}?size=${size}&discount=${dis}`,
									method: 'get',
									success: function (response) {
										let count = parseInt($('#cartCount').text()) + 1;
										$('#cartCount').text(count);
										console.log(count);
										swal.fire('', 'Product added to the cart!', 'success');
									}
								});
							} else {
								swal.fire({
									icon: 'error',
									title: 'Sorry!',
									text: 'Product is out of stock',
								})
							}
						}
						if (!response.loggedIn) {
							// User is not logged in, show an error message and redirect to the login page
							swal.fire({
								icon: 'error',
								title: 'Please login to proceed',
							}).then(function () {
								window.location.href = '/login';
							});
						}
					},
					error: function (xhr, status, error) {
						// Handle other error cases
					}
				});
			} else {
				swal.fire({
					title: 'Size not selected',
					text: 'Please select a size to proceed.',
					icon: 'error',
					button: 'OK'
				});
			}
		})


	</script>